{%extends "registration/base.html"%}
{% load bootstrap3 %} {%load static%}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center" style="background-color:white;">
    <h1 style="font-family: 'Dosis', sans-serif;"> Your Profile Page </h1>

   
    <img src="{{user.profile.profile_pic.url}}" class="img-thumbnail" id="eachimage1" style="height:200px;width:150px;"></a>
   
    <p style="font-family: 'Dosis', sans-serif;"><strong>Bio:</strong> {{user.profile.bio}}</p>
    <p style="font-family: 'Dosis', sans-serif;"><strong>Email:</strong> {{user.profile.contact}}</p>
    <button class="btn btn-lg btn-success" style="font-family: 'Dosis', sans-serif;"><a href=" {%url 'edit_profile'%}">Edit Profile</a></button>
</div>
<div class="container">
  <div class="card-columns">
    {% for project in projects %}

    <div class="card border-secondary"><a href="{% url 'project' project.id %}">
        <img src="{{project.project_pic.url }}" class="img-fluid" id="eachimage"
          size="100px200"></a>
        <p style="font-family: 'Dosis', sans-serif;"> Caption : {{ project.description}}</p>
        <p style="font-family: 'Dosis', sans-serif;">Posted by : {{ project.user}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">
          <li style="font-size:10px;"> <strong>© jehanne2019</strong></li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}