{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center mb-0" id="jumbo" style="background-color:rgb(203, 219, 113);">

    <h1 class="h1" style="font-family: 'Dosis', cursive; color:rgb(56, 148, 76);font-size:100px;">Awards</h1>
    <p class="h1" style="font-family: 'Dosis', cursive; color:black;font-size:25px;"><strong>View projects, submit your own projects and have them reviewed.</strong></p>
  </div>
</div>


<div class="jumbotron text-center mb-0" id="jumbo" style="background-color:rgb(174, 235, 181);">

  <div class="card-deck flex-wrap">
    {% for project in projects %}
    <div class="card border-secondary w-33"><a href="{% url 'project' project.id %}">
      <div class="col-sm-12" style="background-color:rgb(227, 228, 236);">
        <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.title}}</p>
      </div>
        <img src="{{project.project_pic.url}}" data-target="#projectModal{{project.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachproject" size="100px200"></a>
        <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.description}}</p>
        <p style="font-family: 'Dosis', sans-serif; text-align:center;"> {{ project.user}}</p>
        <span class="badge badge-pill badge-info" style="font-family: 'Dosis', sans-serif;"><a href="{{ project.project_url}}">Visit Site</a></span>
        <span class="badge badge-pill badge-danger" style="font-family: 'Dosis', sans-serif; text-align:center;">Like</span>
        <span class="badge badge-pill badge-warning" style="font-family: 'Dosis', sans-serif; text-align:center;"><a href="{% url 'project' project.id %}">View Project</a></span>

    </div>
    {% endfor %}
  </div>


</div>

<div class="jumbotron text-center mt-3" style="background-color:rgba(226, 209, 226, 0.479);font-family: 'Dosis', sans-serif;">

  <form action="{%url 'homePage'%}" method="post">
    {%csrf_token%} {% bootstrap_form letterForm %}
    <input type="submit" style="background-color:rgb(35, 194, 115);" value="Subscribe To Awards ">
  </form>

</div>


<div class="container">
  <div class="col-md-12">
    <div class="footer text-center">
      <p style="font-size:20px;"><strong>© jehanne2019</strong></p>
    </div>
  </div>
</div>

{% endblock %} {% block scripts %} {{block.super}}
<script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>

{% endblock %}
